
h1 {
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
}
body {
    background-color: lightyellow;
    color: black; 
    text-align: center;
}
footer {
    padding: 15px 0px;
}
.contract {
    font-family: monospace;
}
img{
    width: 40%;
    max-width: 10cm;
    align-content: center;
}
a {
 color:brown;
}
a:hover {
 color: darkblue;
}
p{
    font-family: monospace; 
}
.intro {
   text-align: left; 
   font-size: large;
   font-weight: 100;
   
}
figcaption {
    font-size: small;
}
.signature {
    font-style:italic;
}
ol {
    text-align: left;
}
table {
    text-align: center;
    padding: auto;
}
fieldset {
    text-align: center;
    margin: 5px;
}
legend {
    font-weight:bold;
}
button {

}
