
h1 {
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
}
body {
    background-color: #483a58;
    color: #EFBDEB; 
    text-align: center;
}
footer {
    padding: 15px 0px;
}
.contract {
    font-family: monospace;
}
img{
    width: 40%;
    align-content: center;
}
a {
 color:#517664;
}
a:hover {
 color: #EFBDEB;
}
p{
    font-family: monospace; 
}
.intro {
   text-align: left; 
   font-size: large;
   font-weight: 100;
   
}
figcaption {
    font-size: small;
}
.signature {
    font-style:italic;
}
ol {
    align-self: center;
}
fieldset {
    text-align: center;
    margin: 5px;
}
legend {
    font-weight:bold;
}
table, th, td {
    border-collapse:  collapse;
    border-spacing: 5px;
    position: relative;
    margin: auto;
    border: 2px solid black;
    padding: 10px; 
}
form {
    text-align: center;
    background-color: #56203d;
    color: #EFBDEB;
    align-content: center;
}
.comment {
    width: 150px;
    height: 25px; 
    margin-top: 10px;
    
}
button {
    background-color: #483a58;
    color: #EFBDEB;
}
.complexTable tr:nth-child(even){
    background-color: #94A187;
}
.complexTable tr:nth-child(odd){
    background-color: #C7D3BF;
}  
.complexTable {
    color: black;
}
.reviewerror {
    color : #ff817e;
}
#nocss {
    margin: 15px;
    background-color: #483a58;
    color:#EFBDEB;
} 
#doorimg {
    max-width: 400px;
}